body {
  background: #222;
}

/* Utile pour un pseudo trop long ou pour masquer une partie d'un article pour les utilisateurs non identifiés */

p{
  margin: 10px auto 0;
  color: #f1f1f1;
  font-size: 24px;
  width: 350px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}