*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.box{
    /* box-sizing a par défaut content-box */
    /* peut être hérité du reset */
    /* box-sizing: border-box; */
    background-color: teal;
    width: 300px;
    height: 250px;
    padding: 50px;
    border: 3px solid #000;
    margin: 50px;
}

body{
    padding-top: 200px;
}

span{
    /* Ce qui ne fonctionne pas avec les éléments inline */
    width: 250px;
    height: 250px;
    margin-top: 50px;
    margin-bottom: 50px;
    
    /* Ce qui fonctionne avec les éléments inline */
    background-color: green;
    padding: 0px 50px;
    margin: 0 10px;
}