.box{
    max-width: 400px;
    padding: 20px;
    border-radius: 25px;
    margin: 0 auto;
    box-shadow: 0px 7px 10px inset rgba(0,0,0,.3);
}

h1{
    font-size: 50px;
    color: #f1f1f1;
    text-shadow: 0 1px 1px rgba(0,0,0,.1),
                 0 2px 1px rgba(0,0,0,.1),
                 0 3px 1px rgba(0,0,0,.1),
                 0 4px 1px rgba(0,0,0,.1);
}

input {
    outline: 2px solid red;
    /* border: 200px solid red; */
}

input:focus{
    outline: 10px solid black;
}