body {
  padding-top: 250px; 
  text-align: center;
}

button{
  padding: 10px 20px;
  text-transform: uppercase;
  background-color: #4676d7;
  color: #fff;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 2px 0px rgba(0,0,0,.2);
  cursor: pointer;
}